<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Rooms | The Vines Hotel</title>
</head>
<body>
	<h1>Our Rooms</h1>
	<p>Explore luxury stays designed for your comfort.</p>
	
	<div>
		<h2>Standard Rooms</h2>
		<p>Queen-size bed | A/C room | Standard - amenities | 3 person max</p>
	</div>
	
	<div>
		<h2>Premium Rooms</h2>
		<p>King-size bed | A/C room | Premium - amenities| Balcony view | 2 person max</p>
	</div>
	
	<div>
		<h2>Executive Rooms</h2>
		<p>2 Queen-size beds | A/C room | Standard - amenities| 6 person max</p>
	</div>
	
	<hr>
	<a th:href="@{/}">Back to home</a>
</body>
</html>